<div class="story-body">
    <h3>October 29, 2019</h3>
    <h2 class='section-head'>Par for the Course</h3>
    <div id="chart-1"></div>
</div>
<div class="footer nav">
    <span></span>
    <a id="nxt" href="etoff/10-30-19">Next</a>
</div>

<script src="scripts/10-29-19.js"></script>
